@font-face {
    font-family: "iDroid";
    src: url("./fontes/idroid.otf");
}

:root {
    --cor1: #C5EBD6;
    --cor2: #83E1AD;
    --cor3: #3DDC84;
    --cor4: #2FA866;
    --cor5: #1a5c37;
    --cor6: #063D1E;
    --font_padrao: Arial, Helvetica, sans-serif;
    --font_subtitulos: 'iDroid', cursive;
    --font_titulo: 'Bebas Neue', cursive;
    ;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor2);
    font-family: var(--font_padrao);
}

#header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: auto;
    min-height: 100px;
}

header>h1 {
    font-size: 2.5em;
    font-family: var(--font_titulo);
    font-weight: normal;
    margin-bottom: 12px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

header>p {
    font-family: var(--font_padrao);
    font-size: 1.0rem;
    color: rgb(228, 216, 216);
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: -100;
    line-height: 1.3;
    text-shadow: 2px 0px 0px #31303088;
}

.menu a {
    color: white;
    text-decoration: none;
    gap: 10px;
    margin: -10px 1px 5px 25px;
    font-family: var(--font1);
    font-weight: 600;
}

.menu,
.list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--cor5);
}

.menu a:hover {
    background-color: var(--cor4);
    color: var(--cor5);
    border-radius: 20px;
}

main {
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000086;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subtitulo-um {
    font-family: var(--font_subtitulos);
    color: var(--cor6);
    font-weight: normal;
    font-size: 1.8em;
}

.subtitulos {
    background-image: linear-gradient(95deg, rgb(197, 247, 204), rgb(217, 243, 217), rgb(212, 243, 212), rgb(236, 252, 236), white);
    font-family: var(--font_subtitulos);
    color: var(--cor5);
    text-indent: 7px;
    font-weight: normal;
    font-size: 1.5em;
}

main p {
    text-align: justify;
    font-size: 1em;
    text-indent: 30px;
    margin: 15px 0px;
    line-height: 1.5em;
}

.strong {
    color: var(--cor3);
}

.links {
    text-decoration: none;
    padding: 2px 6px;
}

.links:hover {
    text-decoration: underline;
    color: var(--cor3);
}

.div-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.img-pequena {
    display: block;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000086;
}

aside>h3{
    background-color: var(--cor4) ;
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0 -10px;
}


aside>ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    margin-bottom: 10px;
}


aside .link-aside{
    padding: 2px 6px;
    font-weight: bold;
    color: var(--cor6);
    text-decoration: none;
}

.link-aside:hover {
    text-decoration: underline;
    color: var(--cor3);
}

.strong-aside {
    color: var(--cor6);
}
abbr{
    cursor:grab;
    border-bottom: none;
}

footer{
    background-color: var(--cor6);
    color: white;
    padding: 6px;
    text-align: center;
}

.link-linkedin{
    text-decoration: none;
    color: white;
}
.link-linkedin:hover{
    color: var(--cor2);
    text-decoration: underline;
}

