:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #063D1E;
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Bebas Neue', cursive;
    --font3: 'Mochiy Pop One', sans-serif;
}

* {}

main {
    max-width: 400px;
    min-width: 800px;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
}

.menu a {
    color: white;
    text-decoration: none;
    gap: 20px;
    margin: 20px 5px 5px 15px;
    font-family: var(--font1);
    font-weight: 600;
    
}

#header {
    background-color: var(--cor3);
    color: white;
    width: 100%;
    margin-top: 20px;
    right: 0;
    
}

#titulo {
    font-family: var(--font2);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    font-weight: 200;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: var(--font1);
    font-weight: 30;
    font-size: 16px;
    text-align: center;
    line-height: 2.0rem;
    word-wrap: break-word;
}
.subtitulo-um{
    font-family: var(--font3);
    color: var(--cor4);
}
.subtitulos{
    font-family: var(--font3);
    color: var(--cor4);
    background-image: linear-gradient( 95deg, var(--cor1), rgb(168, 248, 168), rgb(201, 247, 201), rgb(236, 252, 236), white);
}
html {
    background-color: var(--cor1)
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
}

.box{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
}

p{
    text-indent: 25px;
    line-height: 1.5rem;
    word-spacing: 1.5px;
    font-family: var(--font1);
}


.div-img{
    display:flex;
    justify-content: center;
}

.video{
    background-color: var(--cor4);
}